<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head th:replace = "~{fragments::head}">

<body>
<main>
    <header class="main-header style-2 navbar">
        <div class="col-brand">
            <a th:href="@{/index}" class="brand-wrap">
                <!--                <img th:src="@{/imgs/theme/logo.png}" class="logo" alt="NEVERLANDS">-->
                <h1>NEVERLANDS</h1>
            </a>
        </div>
        <div class="col-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
            </ul>
        </div>
    </header>

<div><h2>Reset your password</h2></div>
<form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin:0 auto;">
    <input type="hidden" name="token" th:value="${token}"/>

    <div class="border border-secondary rounded p-3">
        <div><p><input type="password" name="password"  id="pasword" class="form-control"
        placeholder="Enter your new password" required autofocus/>
        </p>
            <p><input type="password" class="form-control" placeholder="confirm your
     new password" required oninput="checkPasswordMatch(this);"/>
            </p>
            <p class="text-center">
                <input type="submit" value="change password" class="btn-btn-primary"/>
<!--            <div th:if="${message != null}" class="alert alert-success">-->
<!--                <p th:text="${message}"></p>-->
<!--            </div>-->
             </p></div>
        <li><i class="fi-rs-user"></i><a th:href="@{/logout}" class="button">Logout</a></li>
    </div></form>


    <script th:src="@{/js/vendors/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/vendors/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/vendors/select2.min.js}"></script>
    <script th:src="@{/js/vendors/perfect-scrollbar.js}"></script>
    <script th:src="@{/js/vendors/jquery.fullscreen.min.js}"></script>
    <script th:src="@{/js/vendors/chart.js}"></script>
    <!-- Main Script -->
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <script th:src="@{/js/custom-chart.js}" type="text/javascript"></script>
<script>

    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }

</script>
</main>
</body>

</html>