<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KidsArt</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/favicon.svg}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css?v=3.4}">
</head>
<body>
password reset finished
<li><i class="fi-rs-user"></i><a th:href="@{/logout}" class="button">Logout</a></li>
<script th:src="@{/js/vendor/modernizr-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/plugins/slick.js}"></script>
<script th:src="@{/js/plugins/jquery.syotimer.min.js}"></script>
<script th:src="@{/js/plugins/wow.js}"></script>
<script th:src="@{/js/plugins/jquery-ui.js}"></script>
<script th:src="@{/js/plugins/perfect-scrollbar.js}"></script>
<script th:src="@{/js/plugins/magnific-popup.js}"></script>
<script th:src="@{/js/plugins/select2.min.js}"></script>
<script th:src="@{/js/plugins/waypoints.js}"></script>
<script th:src="@{/js/plugins/counterup.js}"></script>
<script th:src="@{/js/plugins/jquery.countdown.min.js}"></script>
<script th:src="@{/js/plugins/images-loaded.js}"></script>
<script th:src="@{/js/plugins/isotope.js}"></script>
<script th:src="@{/js/plugins/scrollup.js}"></script>
<script th:src="@{/js/plugins/jquery.vticker-min.js}"></script>
<script th:src="@{/js/plugins/jquery.theia.sticky.js}"></script>
<script th:src="@{/js/plugins/jquery.elevatezoom.js}"></script>
<!-- Template  JS -->
<script src="./js/main.js?v=3.4"></script>
<script src="./js/shop.js?v=3.4"></script>
</body>
</html>